<div class='menu-mobile js-menu-container'>
  <button class='menu-mobile__close-btn js-close-menu' aria-label='menu close button'>
    <svg class='icon icon-menu' width='20' height='20'>
      <use xlink:href='./images/sprite.svg#icon-close-menu'></use>
    </svg>
  </button>
  <ul class='menu-mobile__list'>
    <li class='menu-mobile__item'>
      <a href='#home' class='menu-mobile__link'>home</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#events' class='menu-mobile__link'>events</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#gallery' class='menu-mobile__link'>gallery</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#products' class='menu-mobile__link'>products</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#history' class='menu-mobile__link'>history</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#contact' class='menu-mobile__link'>contact</a>
    </li>
  </ul>
</div>