<ul class='menu__list'>
  <li class='menu__item'>
    <a href='#home' class='menu__link'>home</a>
  </li>
  <li class='menu__item'>
    <a href='#events' class='menu__link'>events</a>
  </li>
  <li class='menu__item'>
    <a href='#gallery' class='menu__link'>gallery</a>
  </li>
  <li class='menu__item'>
    <a href='#products' class='menu__link'>products</a>
  </li>
  <li class='menu__item'>
    <a href='#history' class='menu__link'>history</a>
  </li>
  <li class='menu__item'>
    <a href='#contact' class='menu__link'>contact</a>
  </li>
</ul>