<section class="gallery">
  <div class="container gallery__container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/woman.webp 1x,
                          ./images/gallery/woman@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/woman.jpg 1x,
                          ./images/gallery/woman@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/woman.jpg" alt="Art woman" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/queen.webp 1x,
                          ./images/gallery/queen@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/queen.jpg 1x,
                          ./images/gallery/queen@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/queen.jpg" alt="Art column" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/head.webp 1x,
                          ./images/gallery/head@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/head.jpg 1x,
                          ./images/gallery/head@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/head.jpg" alt="Art column" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/pictures.webp 1x,
                          ./images/gallery/pictures@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/pictures.jpg 1x,
                          ./images/gallery/pictures@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/pictures.jpg" alt="Art column" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/statue.webp 1x,
                          ./images/gallery/statue@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/statue.jpg 1x,
                          ./images/gallery/statue@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/statue.jpg" alt="Art column" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/window.webp 1x,
                          ./images/gallery/window@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/window.jpg 1x,
                          ./images/gallery/window@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/window.jpg" alt="Art column" width="408">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
                          ./images/gallery/gallery.webp 1x,
                          ./images/gallery/gallery@2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1260px)">
          <source srcset="
                          ./images/gallery/gallery.jpg 1x,
                          ./images/gallery/gallery@2x.jpg 2x"
                  media="(min-width: 1260px)">
          <img class="_img" src="./images/gallery/gallery.jpg" alt="Art column" width="408">
        </picture>
      </li>
    </ul>
  </div>
</section>