<section class="products" id="products">
  <div class="container products__container">
    <h2 class="products__main-title"><span>Our</span>Product</h2>
    <ul class="products__slider">
      <li class="products__item"
          style="background-image: url('./images/products/statue.jpg');">
        <h3 class="products__item-title">Product</h3>
        <p class="products__item-content">Lorem ipsum dolor sit amet, consectetur </p>
      </li>
      <li class="products__item"
          style="background-image: url('./images/products/queen@2x.jpg');">
        <h3 class="products__item-title">Product</h3>
        <p class="products__item-content">Lorem ipsum dolor sit amet, consectetur </p>
      </li>
      <li class="products__item"
          style="background-image: url('./images/products/statue@2x.jpg');">
        <h3 class="products__item-title">Product</h3>
        <p class="products__item-content">Lorem ipsum dolor sit amet, consectetur </p>
      </li>
      <li class="products__item"
          style="background-image: url('./images/products/woman@2x.jpg');">
        <h3 class="products__item-title">Product</h3>
        <p class="products__item-content">Lorem ipsum dolor sit amet, consectetur </p>
      </li>

    </ul>

  </div>
</section>