.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
  }

  &__text {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    text-align: center;
    font-family: Baskervville, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(12 / 12);
    text-transform: uppercase;
    span{
      margin-top: 4px;
    }
  }
}