.header {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  transition: background-color, color 0.5s ease;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__menu {
    display: none;

    @include for-size(tablet) {
      display: block;
    }
  }

  &__mobile-menu {
    margin-left: auto;
    background-color: inherit;
    height: auto;
    .icon{
      fill:#FFFFFF;
    }



    @include for-size(tablet) {
      display: none;
    }
  }
}